/* Provide sufficient contrast against white background */
body {
	background-color: whitesmoke;
}

a {
	color: #0366d6;
}

code {
	color: #e01a76;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.modal {
	display: block;
}

#react-modal {
	bottom: unset !important;
}

.card.card-body {
	background-color: white;
}

label {
	margin-left: 2px;
}

#myBtn {
	margin-right: 10px;
}
